.hide{
    display: none;
}

.show-menu{
    display: flex;
    transform: translateY(0);
    transition: transform 0.7s;
}
.line_standart{
    width: 100%;
    background-color: $color-main1;
    height: 1px;
   
}
.line_red{
    width: 100%;
    background-color: red;
    height: 1px;
   
}
.header{
    position: relative;
    z-index: 5;

    & .info{
        @include flex_inline;

        width: 100%;
        height: 73px;
        padding: 21px 85px 16px 86px;
        background-color: $header-bg-color;

        &.info>div{
            @include flex_inline;
  
            & .info-logo{
                font-size: 28px;
                font-weight: bold;
                color: $text-clor-light;
                margin-right: 86px;
            }

            & .info-contact {
                font-size: 19px;
                margin-right: 86px;
                color: $text-clor-light;
                text-decoration: none;
            }

            & .info-search{
                border-bottom: 1px solid $menu-bg-color;
                max-width: 281px;
                padding-bottom: 1px;
                overflow: hidden;

                & img{
                    margin-right: 7px;
                    width: 13px;
                    height: 13px;
                }

                & input{
                    border: none;
                    list-style-type: none;
                    outline: none;
                    background: none;
                    color: $text-clor-light;
                    width: 250px;

                    &::placeholder{
                        font-size: 16px;
                        color: $text-clor-light;
                    }
                }
            }         
        }

        & .delivery-and-pay{
            font-size: 16px;
            color: $text-clor-light;
            text-decoration: none;
            border-bottom: 1.5px solid $text-clor-light;
            &:hover{
                @include hover;
            }
        }
        & .shopping-cart{
            display: none
        }     
    }  
    & .menu{
        
        @include flex_inline;
        height: 46px;
        background-color: $menu-bg-color;
        color: $text-clor-light;
        text-transform: uppercase;
        font-size: 16px;
        padding:  0 86px  ;

        & ul{
            @include flex_inline;

            list-style-type: none;
            font-weight: bold;
            & li {
                margin-right: 39px;
                &:hover{
                    @include hover;
                }
            }
        }
        
        & .shopping-cart {
            @include flex_center;
            
            & img {
                margin-right:9px;
            }
            &:hover{
                @include hover;
            }
        }
    }
}

main{
    position: relative;
    max-width: 1128px;
    margin: 0 auto;
    padding-top: 21px;
    // padding: 21px auto 16px auto;
    & .filter-icon{
        display: none;
        position: absolute;
        right: 20px;
        top: 13px;
    }
    & .filter{
        @include flex-row-left;
    
        & .choice-type,.choice-model{
           
            margin-right: 14px;
            font-size: 16px;
        
            width: 264px;
	        // height: 48px;
	        padding: 14px 17px;
	        -webkit-appearance : none;
	        background-image   : url('../assets/arrow-down.svg');
	        background-position: right 16px center;
	        background-repeat  : no-repeat;
            -moz-appearance    : none;
	        text-overflow      : '';
            -ms-appearance     : none;
	        appearance         : none !important;
	        border-color: $border-color; 
            
            &:hover{
                cursor: pointer;
            }
        }
        & .filter-price {
            
            & span {
                text-align: center;
                text-transform: uppercase;
                margin-right: 14px;
                margin-left: 9px;
            }
            
            & label {     
                width: 98px;
                height: 48px;
                padding: 14px 11px; 
                border: 1px solid $border-color;
            }
            & input {
                font-size: 16px;
                font-weight: bold;
                text-align: right;
                outline: none;
                border: none;          
            }
            & input[type="number"]::-webkit-outer-spin-button,
            & input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    & .content{
        margin-top: 23px;
        display: flex;
        flex-wrap: wrap; 
        & .main-product{
           display: flex;
           align-items: flex-start;
           justify-content: space-between;
           padding: 21px 22px 14px 22px ;
           width: fit-content;
           max-width: 564px;
           min-height: 358px;
           height: fit-content;
           border: 1px solid gray;
           &:hover{
               cursor: pointer;
               transition: 0.1s;
               background-color: #FFF1F1;
           }
           & img {
               width: 250px;
               height: 250px;
           }
           & .product-info{
            margin-left: 24px;
               & .product-info__title{
                   font-size: 20px;
                   font-weight: bold;
                   margin-top: 10px;
                   
               }
               & .product-info__describtion{
                font-size: 16px;
                padding-top: 4px;
                padding-bottom: 21px;
               }
           }
           & .product-price{
            margin-left: 24px;
            & .price-old{
                font-size: 16px;
                color: #989898;
                text-decoration: line-through;
            }
            & .price-new{
                @include flex_inline;
                font-size: 20px;
                color: red;
                margin-top: 5px;
                & img {
                    width: 17px;
                    height: 16px;
                }
            }
           }
            
        }
        & .product-card{
            display: flex;
            flex-direction: column;
            width: fit-content;
            max-width: 282px;
            height: 358px;
            border: 1px solid gray;
            padding: 21px 22px 14px 22px ;
            &:hover{
                cursor: pointer;
                transition: 0.1s;
                background-color: #E8EEFF;
            }
            & img {
                margin: 0 auto;
                width: 160px;
                height: 160px;
               
            }
            & .product-info{
            
                & .product-info__title{
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
 
                }
                & .product-info__describtion{
                 font-size: 14px;
                 padding-top: 4px;
                padding-bottom: 21px;
                }
            }
            & .product-price{
                & .price-old{
                    font-size: 16px;
                    color: #989898;
                    text-decoration: line-through;
                }
                & .price{
                    @include flex_inline;
                    justify-content: spa;
                    font-size: 20px;
                    color:$color-main1;
                    margin-top: 5px;
                    & img {
                        width: 17px;
                        height: 16px;
                        margin-right: 0;
                    }
                }
            }   
        }

    }
}

