@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  @mixin flex-row-left {
    display: flex;
    justify-content: left;
    align-items: center;
  }
@mixin flex_inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin  hover {
    transition: 0.3s;
    cursor: pointer;
    color: $hover-color;
    border-color: $hover-color
}