@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
.burger-logo {
  display: none;
  position: absolute;
  left: 24px;
  width: 24px;
}
.burger-logo:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
  filter: invert(470%) sepia(230%) contrast(13%);
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: absolute;
  width: 100%;
  z-index: -10;
  padding: 24px 36px;
  color: #ffffff;
  background-color: #265C9A;
  transform: translateY(-400px);
}
.burger-menu ul {
  list-style-type: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.burger-menu ul li {
  padding: 10px 16px 9px 16px;
}
.burger-menu ul li:hover {
  cursor: pointer;
  background-color: #618CBF;
}

.hide {
  display: none;
}

.show-menu {
  display: flex;
  transform: translateY(0);
  transition: transform 0.7s;
}

.line_standart {
  width: 100%;
  background-color: #325AC0;
  height: 1px;
}

.line_red {
  width: 100%;
  background-color: red;
  height: 1px;
}

.header {
  position: relative;
  z-index: 5;
}
.header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 73px;
  padding: 21px 85px 16px 86px;
  background-color: #265C9A;
}
.header .info.info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .info.info > div .info-logo {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 86px;
}
.header .info.info > div .info-contact {
  font-size: 19px;
  margin-right: 86px;
  color: #ffffff;
  text-decoration: none;
}
.header .info.info > div .info-search {
  border-bottom: 1px solid #517DAE;
  max-width: 281px;
  padding-bottom: 1px;
  overflow: hidden;
}
.header .info.info > div .info-search img {
  margin-right: 7px;
  width: 13px;
  height: 13px;
}
.header .info.info > div .info-search input {
  border: none;
  list-style-type: none;
  outline: none;
  background: none;
  color: #ffffff;
  width: 250px;
}
.header .info.info > div .info-search input::placeholder {
  font-size: 16px;
  color: #ffffff;
}
.header .info .delivery-and-pay {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1.5px solid #ffffff;
}
.header .info .delivery-and-pay:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
}
.header .info .shopping-cart {
  display: none;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  background-color: #517DAE;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 86px;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}
.header .menu ul li {
  margin-right: 39px;
}
.header .menu ul li:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
}
.header .menu .shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu .shopping-cart img {
  margin-right: 9px;
}
.header .menu .shopping-cart:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
}

main {
  position: relative;
  max-width: 1128px;
  margin: 0 auto;
  padding-top: 21px;
}
main .filter-icon {
  display: none;
  position: absolute;
  right: 20px;
  top: 13px;
}
main .filter {
  display: flex;
  justify-content: left;
  align-items: center;
}
main .filter .choice-type, main .filter .choice-model {
  margin-right: 14px;
  font-size: 16px;
  width: 264px;
  padding: 14px 17px;
  -webkit-appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-overflow: "";
  -ms-appearance: none;
  appearance: none !important;
  border-color: #D0D0D0;
}
main .filter .choice-type:hover, main .filter .choice-model:hover {
  cursor: pointer;
}
main .filter .filter-price span {
  text-align: center;
  text-transform: uppercase;
  margin-right: 14px;
  margin-left: 9px;
}
main .filter .filter-price label {
  width: 98px;
  height: 48px;
  padding: 14px 11px;
  border: 1px solid #D0D0D0;
}
main .filter .filter-price input {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  outline: none;
  border: none;
}
main .filter .filter-price input[type=number]::-webkit-outer-spin-button, main .filter .filter-price input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main .content {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
}
main .content .main-product {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 21px 22px 14px 22px;
  width: fit-content;
  max-width: 564px;
  min-height: 358px;
  height: fit-content;
  border: 1px solid gray;
}
main .content .main-product:hover {
  cursor: pointer;
  transition: 0.1s;
  background-color: #FFF1F1;
}
main .content .main-product img {
  width: 250px;
  height: 250px;
}
main .content .main-product .product-info {
  margin-left: 24px;
}
main .content .main-product .product-info .product-info__title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
main .content .main-product .product-info .product-info__describtion {
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 21px;
}
main .content .main-product .product-price {
  margin-left: 24px;
}
main .content .main-product .product-price .price-old {
  font-size: 16px;
  color: #989898;
  text-decoration: line-through;
}
main .content .main-product .product-price .price-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: red;
  margin-top: 5px;
}
main .content .main-product .product-price .price-new img {
  width: 17px;
  height: 16px;
}
main .content .product-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 282px;
  height: 358px;
  border: 1px solid gray;
  padding: 21px 22px 14px 22px;
}
main .content .product-card:hover {
  cursor: pointer;
  transition: 0.1s;
  background-color: #E8EEFF;
}
main .content .product-card img {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}
main .content .product-card .product-info .product-info__title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
main .content .product-card .product-info .product-info__describtion {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 21px;
}
main .content .product-card .product-price .price-old {
  font-size: 16px;
  color: #989898;
  text-decoration: line-through;
}
main .content .product-card .product-price .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: spa;
  font-size: 20px;
  color: #325AC0;
  margin-top: 5px;
}
main .content .product-card .product-price .price img {
  width: 17px;
  height: 16px;
  margin-right: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1300px;
}
body path {
  fill: inherit;
  stroke: inherit;
}

@media (max-width: 1050px) {
  .header .info {
    padding: 26px 20px 26px 86px;
  }
  .header .info .shopping-cart {
    display: block;
    width: 21px;
    height: 20px;
  }
  .header .info .burger-logo {
    display: block;
  }
  .header .info.info > div .info-search {
    width: 100%;
    max-width: 697px;
  }

  .header .menu, .header .info .info-contact, .header .info .delivery-and-pay {
    display: none;
  }

  main .filter-icon {
    display: block;
  }
  main .filter {
    display: none;
  }
  main .content .main-product {
    max-width: 656px;
    min-height: 359px;
  }
  main .content .main-product img {
    width: 297px;
    height: 297px;
  }
  main .content .product-card {
    max-width: 328px;
    height: 359px;
  }
}
@media screen and (max-width: 770px) {
  main .content .main-product {
    max-width: 728px;
    min-height: 364px;
  }
  main .content .product-card {
    max-width: 364px;
    height: 364px;
  }
}

/*# sourceMappingURL=style.css.map */
