@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
.burger-logo {
  display: none;
  position: absolute;
  left: 24px;
  width: 24px;
}
.burger-logo:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
  filter: invert(470%) sepia(230%) contrast(13%);
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: absolute;
  width: 100%;
  z-index: -10;
  padding: 24px 36px;
  color: #ffffff;
  background-color: #265C9A;
  transform: translateY(-400px);
}
.burger-menu ul {
  list-style-type: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.burger-menu ul li {
  padding: 10px 16px 9px 16px;
}
.burger-menu ul li:hover {
  cursor: pointer;
  background-color: #618CBF;
}

.hide {
  display: none;
}

.show-menu {
  display: flex;
  transform: translateY(0);
  transition: transform 0.7s;
}

.header {
  position: relative;
  z-index: 5;
}
.header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 73px;
  padding: 21px 85px 16px 86px;
  background-color: #265C9A;
}
.header .info.info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .info.info > div .info-logo {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 86px;
}
.header .info.info > div .info-contact {
  font-size: 19px;
  margin-right: 86px;
  color: #ffffff;
  text-decoration: none;
}
.header .info.info > div .info-search {
  border-bottom: 1px solid #517DAE;
  max-width: 281px;
  padding-bottom: 1px;
  overflow: hidden;
}
.header .info.info > div .info-search img {
  margin-right: 7px;
  width: 13px;
  height: 13px;
}
.header .info.info > div .info-search input {
  border: none;
  list-style-type: none;
  outline: none;
  background: none;
  color: #ffffff;
  width: 250px;
}
.header .info.info > div .info-search input::placeholder {
  font-size: 16px;
  color: #ffffff;
}
.header .info .delivery-and-pay {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1.5px solid #ffffff;
}
.header .info .delivery-and-pay:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
}
.header .info .shopping-cart {
  display: none;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  background-color: #517DAE;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 86px;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}
.header .menu ul li {
  margin-right: 39px;
}
.header .menu ul li:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
}
.header .menu .shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu .shopping-cart img {
  margin-right: 9px;
}
.header .menu .shopping-cart:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #FBFF3D;
  border-color: #FBFF3D;
}

main {
  padding: 21px 85px 16px 86px;
}
main .filter {
  display: flex;
  justify-content: left;
  align-items: center;
}
main .filter .choice-type, main .filter .choice-model {
  margin-right: 14px;
  font-size: 16px;
  width: 264px;
  height: 48px;
  padding: 14px 17px;
  -webkit-appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-overflow: "";
  -ms-appearance: none;
  appearance: none !important;
  border-color: #D0D0D0;
}
main .filter .choice-type:hover, main .filter .choice-model:hover {
  cursor: pointer;
}
main .filter .filter-price {
  text-align: center;
}
main .filter .filter-price label {
  width: 134px;
  height: 48px;
  padding: 14px 17px;
  border: 1px solid #D0D0D0;
}
main .filter .filter-price input {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  outline: none;
  border: none;
}
main .filter .filter-price input[type=number]::-webkit-outer-spin-button, main .filter .filter-price input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1300px;
}
body path {
  fill: inherit;
  stroke: inherit;
}

@media (max-width: 1024px) {
  .header .info {
    padding: 26px 20px 26px 86px;
  }
  .header .info .shopping-cart {
    display: block;
    width: 21px;
    height: 20px;
  }
  .header .info .burger-logo {
    display: block;
  }
  .header .info.info > div .info-search {
    width: 100%;
    max-width: 697px;
  }
  .header .menu, .header .info .info-contact, .header .info .delivery-and-pay {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
